body {
  background-color: white;
}

h1 {
  color: slateblue;
  text-align: center;
  font-family: lucida handwriting;
}

h3 {
	color: darkblue;
    font-family: georgia;
}

p {
  font-family: georgia;
  font-size: 15px;
  color: darkblue;
}

table, th, td {
	border: 1px solid;
	font-family: georgia;
    text-align: center;
    color: darkblue;
}

table {
  width: 100%;
  border-collapse: collapse;
    background-color: #f2f0fc;
}

th, td {
	padding: 6px
}

th {
	background-color: #dad5f7;
}    

td:nth-child(1) {
	background-color: #e7e3fc;
    color: darkblue;
}

caption {
	font-size: 21px;
    font-family: georgia;
    color: slateblue;
}

a:link {
	color: #bf2695;
}

a:visited {
	color: darkblue;
}

a:hover {
	color: orange;
    cursor: wait;
}

a:active {
	color: #29cfb0;
}